html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #dee2ee !important;
  color: #707070;
}

#root {
  height: 100%;
  /* background-color: #dee2ee !important; */
}

/* span {
  margin: 0 !important;
  padding: 0 !important;
} */
